In [3]:
import reXplan as rx
import pandapower as pp
import pandapower.networks as pn

#net = pn.mv_oberrhein()
#net = pn.case24_ieee_rts()
net = pn.case14()
#pp.to_excel(net, "ppnetwork.xlsx")
import pandas as pd
rx.import_grid.import_grid(net)

- network.xlsx created successfully! -

In [2]:
import pandapower.networks as pn
#net = pn.mv_oberrhein()
net = pn.case24_ieee_rts()
net = pn.case14()
net.bus

   name    vn_kv type zone  in_service  max_vm_pu  min_vm_pu
0     1  135.000    b  1.0        True       1.06       0.94
1     2  135.000    b  1.0        True       1.06       0.94
2     3  135.000    b  1.0        True       1.06       0.94
3     4  135.000    b  1.0        True       1.06       0.94
4     5  135.000    b  1.0        True       1.06       0.94
5     6    0.208    b  1.0        True       1.06       0.94
6     7   14.000    b  1.0        True       1.06       0.94
7     8   12.000    b  1.0        True       1.06       0.94
8     9    0.208    b  1.0        True       1.06       0.94
9    10    0.208    b  1.0        True       1.06       0.94
10   11    0.208    b  1.0        True       1.06       0.94
11   12    0.208    b  1.0        True       1.06       0.94
12   13    0.208    b  1.0        True       1.06       0.94
13   14    0.208    b  1.0        True       1.06       0.94

In [ ]:
import pandapower.networks as pn

net = pn.case24_ieee_rts()

df_cost = getattr(net, 'poly_cost')
df_cost = df_cost.sort_values(by='et')

for index in range(len(df_cost.index)):
    if df_cost.iloc[index].et == 'ext_grid':
        from_sheet = 'external_gen'
    elif df_cost.iloc[index].et == 'gen':
        from_sheet = 'generators'
    elif df_cost.iloc[index].et == 'sgen':
        from_sheet = 'static_generators'
    dfs_dict[from_sheet].name[df_cost.iloc[index].element]

df_cost_gen_ext_grid = df_cost[df_cost['et'].isin(['gen', 'ext_grid'])]
for index in range(len(df_cost_gen_ext_grid.index)):
    if df_cost_gen_ext_grid.iloc[index].et == 'ext_grid':
        from_sheet = 'external_gen'
    elif df_cost_gen_ext_grid.iloc[index].et == 'gen':
        from_sheet = 'generators'
    dfs_dict[from_sheet].name[df_cost_gen_ext_grid.iloc[index].element]
df_cost_sgen = df_cost[df_cost['et'] == 'sgen']
for index in range(len(df_cost_sgen.index)):
    if df_cost_sgen.iloc[index].et == 'sgen':
        from_sheet = 'generators'
    dfs_dict[from_sheet].name[df_cost_sgen.iloc[index].element]


# OLD APPROACH START ------------------------------------------------------------
# columns = getattr(net, rename_sheet[sheet]).columns
# for column in columns:
#     values = getattr(net, rename_sheet[sheet])[column]

#     if column == 'et':
#         values_element = getattr(net, rename_sheet[sheet])['element']
#         filtered_values_et = values[values.isin(['gen', 'ext_grid'])]
#         starting_index = filtered_values_et.index[-1] + 1
#         extension = pd.Series(['load'] * len(net.load), index=range(starting_index, starting_index + len(net.load)))
#         filtered_values_et_extended = pd.concat([filtered_values_et,extension])
#         dfs_dict[sheet]['type'] = filtered_values_et_extended
#         result = filtered_values_et.astype(str) + values_element[filtered_values_et.index].astype(str)
#         extension = pd.Series(['load' + str(i) for i in range(len(net.load))], index=range(starting_index, starting_index + len(net.load)))
#         result = pd.concat([result, extension])
#         dfs_dict[sheet]['name'] = result
#     elif column == 'element':
#         pass
#     else:
#         ### -1 or 0 for cost sheet?
#         values = values[filtered_values_et.index]
#         extension = pd.Series([-1] * len(net.load), index=range(starting_index, starting_index + len(net.load)))
#         values = pd.concat([values,extension])
#         dfs_dict[sheet][column] = values
# OLD APPROACH END --------------------------------------------------------------