In [ ]:
# importing reXplan and dependencies
import reXplan as rx
import numpy as np
import warnings
from pandapower.plotting.plotly import pf_res_plotly
warnings.simplefilter("ignore") # warning are ignored for now

import matplotlib.pyplot as plt
import seaborn as sns
simulationName = 'strata_example';
network = rx.network.Network(simulationName);
simulation = rx.simulation.Sim(simulationName);
simulation.initialize_model_rp(network=network, ref_return_period="rp2", iterationNumber=3, maxStrata=3)
time = rx.simulation.Time(start = 10, duration = 10)
simulation.run(network, iterationSet = None, time = None, run_type = 'pm_ac_opf', delta = 1e-16, saveOutput = True)

# Control of net

In [71]:
import pandapower as pp
import pandapower.networks as pn
net = pn.case6ww()

#pp.runpm_ac_opf(net)
pp.runopp(net)

## Manipulated data

In [72]:
net.ext_grid.in_service = 0
net.gen.iloc[0,8] = False    #slack
net.gen.iloc[0,9] = True    #in-service
net.gen.iloc[1,8] = False    #slack
net.gen.iloc[1,9] = True    #in-service


net.gen.iloc[0,10] = 0
net.gen.iloc[1,10] = 0

net.ext_grid.iloc[0,4] = 0
net.ext_grid.iloc[0,6] = 12345
net.ext_grid.iloc[0,7] = 0
net.ext_grid.iloc[0,8] = 54321
net.ext_grid.iloc[0,9] = -12345

# net.gen.iloc[0,13] = 800
# net.gen.iloc[0,6] = 400
# net.gen.iloc[0,5] = -200
net.load.loc[:,"controllable"] = True
net.load.loc[:,"max_p_mw"] = 70
net.load.loc[:,"min_p_mw"] = 0
net.load.loc[:,"max_q_mvar"] = 70
net.load.loc[:,"min_q_mvar"] = 0

In [62]:
net.line.loc[:,'r_ohm_per_km'] = 0
net.line.loc[:,'x_ohm_per_km'] = 0

C:\Users\mn6461\AppData\Local\Temp\ipykernel_16460\2296438884.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  net.line.loc[:,'r_ohm_per_km'] = 0
C:\Users\mn6461\AppData\Local\Temp\ipykernel_16460\2296438884.py:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  net.line.loc[:,'x_ohm_per_km'] = 0

In [73]:
pp.create_gen(net, 0, p_mw = 200, vm_pu = 1.05, max_q_mvar=100, min_q_mvar=-100, min_p_mw=0, max_p_mw=200, controllable=True, slack=True)
net.gen.iloc[2,9] = True    #in-service

In [74]:
pp.create_poly_cost(net, 0, 'load', cp1_eur_per_mw=-100000, cp0_eur=-1000, cq0_eur=-1000, cq1_eur_per_mvar=-100000, check=True)
pp.create_poly_cost(net, 1, 'load', cp1_eur_per_mw=-100000, cp0_eur=-1000, cq0_eur=-1000, cq1_eur_per_mvar=-100000, check=True)
pp.create_poly_cost(net, 2, 'load', cp1_eur_per_mw=-100000, cp0_eur=-1000, cq0_eur=-1000, cq1_eur_per_mvar=-100000, check=True)
pp.create_poly_cost(net, 2, 'gen', cp1_eur_per_mw=10000000, cp0_eur=10000000, cq0_eur=1000000, cq1_eur_per_mvar=10000000, check=True)

6

In [75]:
#pp.runpm_ac_opf(net)
pp.runopp(net)

In [76]:
net.res_gen

           p_mw     q_mvar  va_degree  vm_pu
0  3.750000e+01 -15.829375   0.386808   1.05
1  4.500000e+01  56.116953  -0.067108   1.07
2 -8.600171e-11  -7.002666   0.000000   1.05

In [ ]:
net.poly_cost.iloc[:3,6] = 12
net.poly_cost.iloc[:3,5] = 200
net.poly_cost

In [4]:
import reXplan as rx
import pandapower as pp
import pandapower.networks as pn

#net = pn.mv_oberrhein()
#net = pn.case24_ieee_rts()
net = pn.case6ww()
#pp.to_excel(net, "ppnetwork.xlsx")
import pandas as pd
rx.import_grid.import_grid(net)

- network.xlsx created successfully! -

In [2]:
import pandapower.networks as pn
#net = pn.mv_oberrhein()
net = pn.case24_ieee_rts()
net = pn.case14()
net.bus

   name    vn_kv type zone  in_service  max_vm_pu  min_vm_pu
0     1  135.000    b  1.0        True       1.06       0.94
1     2  135.000    b  1.0        True       1.06       0.94
2     3  135.000    b  1.0        True       1.06       0.94
3     4  135.000    b  1.0        True       1.06       0.94
4     5  135.000    b  1.0        True       1.06       0.94
5     6    0.208    b  1.0        True       1.06       0.94
6     7   14.000    b  1.0        True       1.06       0.94
7     8   12.000    b  1.0        True       1.06       0.94
8     9    0.208    b  1.0        True       1.06       0.94
9    10    0.208    b  1.0        True       1.06       0.94
10   11    0.208    b  1.0        True       1.06       0.94
11   12    0.208    b  1.0        True       1.06       0.94
12   13    0.208    b  1.0        True       1.06       0.94
13   14    0.208    b  1.0        True       1.06       0.94

In [ ]:
import pandapower.networks as pn

net = pn.case24_ieee_rts()

df_cost = getattr(net, 'poly_cost')
df_cost = df_cost.sort_values(by='et')

for index in range(len(df_cost.index)):
    if df_cost.iloc[index].et == 'ext_grid':
        from_sheet = 'external_gen'
    elif df_cost.iloc[index].et == 'gen':
        from_sheet = 'generators'
    elif df_cost.iloc[index].et == 'sgen':
        from_sheet = 'static_generators'
    dfs_dict[from_sheet].name[df_cost.iloc[index].element]

df_cost_gen_ext_grid = df_cost[df_cost['et'].isin(['gen', 'ext_grid'])]
for index in range(len(df_cost_gen_ext_grid.index)):
    if df_cost_gen_ext_grid.iloc[index].et == 'ext_grid':
        from_sheet = 'external_gen'
    elif df_cost_gen_ext_grid.iloc[index].et == 'gen':
        from_sheet = 'generators'
    dfs_dict[from_sheet].name[df_cost_gen_ext_grid.iloc[index].element]
df_cost_sgen = df_cost[df_cost['et'] == 'sgen']
for index in range(len(df_cost_sgen.index)):
    if df_cost_sgen.iloc[index].et == 'sgen':
        from_sheet = 'generators'
    dfs_dict[from_sheet].name[df_cost_sgen.iloc[index].element]


# OLD APPROACH START ------------------------------------------------------------
# columns = getattr(net, rename_sheet[sheet]).columns
# for column in columns:
#     values = getattr(net, rename_sheet[sheet])[column]

#     if column == 'et':
#         values_element = getattr(net, rename_sheet[sheet])['element']
#         filtered_values_et = values[values.isin(['gen', 'ext_grid'])]
#         starting_index = filtered_values_et.index[-1] + 1
#         extension = pd.Series(['load'] * len(net.load), index=range(starting_index, starting_index + len(net.load)))
#         filtered_values_et_extended = pd.concat([filtered_values_et,extension])
#         dfs_dict[sheet]['type'] = filtered_values_et_extended
#         result = filtered_values_et.astype(str) + values_element[filtered_values_et.index].astype(str)
#         extension = pd.Series(['load' + str(i) for i in range(len(net.load))], index=range(starting_index, starting_index + len(net.load)))
#         result = pd.concat([result, extension])
#         dfs_dict[sheet]['name'] = result
#     elif column == 'element':
#         pass
#     else:
#         ### -1 or 0 for cost sheet?
#         values = values[filtered_values_et.index]
#         extension = pd.Series([-1] * len(net.load), index=range(starting_index, starting_index + len(net.load)))
#         values = pd.concat([values,extension])
#         dfs_dict[sheet][column] = values
# OLD APPROACH END --------------------------------------------------------------