# Repair priority

In [1]:
import reXplan as rx
import pandas as pd
import plotly.express as px
from pandapower.plotting.plotly import pf_res_plotly
from utils import * # pplotting functions
import pandapower.topology as top
# import warnings
# warnings.simplefilter("ignore") # warnings are ignored for now

In [2]:
simulationName = 'repair_priority_v0'
network = rx.network.Network(simulationName)
simulation = rx.simulation.Sim(simulationName)

D:\GitHub\reXplan-repo\reXplan\network.py:752: UserWarning: Input parameter "delta y" is not a valid attribute of the "Bus" class.
  warnings.warn(f'Input parameter "{key}" is not a valid attribute of the "{self.__class__.__name__}" class.')
D:\GitHub\reXplan-repo\reXplan\network.py:752: UserWarning: Input parameter "delta x" is not a valid attribute of the "Bus" class.
  warnings.warn(f'Input parameter "{key}" is not a valid attribute of the "{self.__class__.__name__}" class.')
D:\GitHub\reXplan-repo\reXplan\network.py:758: UserWarning: Forcing "ignore montecarlo" to "True" for line14.
  warnings.warn(f'Forcing "ignore montecarlo" to "True" for {self.id}.')

Network for study case <repair_priority_v0> initialized.

Simulation:	Start =   1; Stop =  41; Duration =  40 timesteps.
Hazard:		Start =  12; Stop =  17; Duration =   5 timesteps.

In [3]:
concat = []
for y in [network.lines, network.loads, network.generators]:
    aux = [pd.DataFrame.from_dict(x.__dict__ for x in y.values())]
    aux = pd.concat(aux,axis = 1)[['id','in_service','i_montecarlo', 'priority']]
    concat.append(aux)
concat = pd.concat(concat)
filter_ = concat['priority'] >= 0
concat[filter_].sort_values(by = 'priority')

        id in_service i_montecarlo  priority
12  line14      False         True       0.0
13  line15       True         True       1.0
11  line13       True         None       2.0
10  line12       True         None       3.0
5      g16       None         None       4.0
3    load6       None         None      10.0

In [ ]:
simulation.initialize_model_sh(network,1)
schedule = network.outagesSchedule.join(network.crewSchedule)
filter_ = schedule!=1
i = schedule[filter_].dropna(how ='all').index
c = schedule[filter_].dropna(axis = 1, how ='all').columns
schedule.loc[i,c]

In [6]:
network.crewSchedule

    crew_1  crew_2  crew_3
1        1       1       1
2        1       1       1
3        1       1       1
4        1       1       1
5        1       1       1
6        1       1       1
7        1       1       1
8        1       1       1
9        1       1       1
10       1       1       1
11       1       1       1
12       1       1       1
13       1       1       1
14       1       1       1
15       1       1       1
16       1       1       1
17       1       1       1
18       1       1       1
19       1       1       1
20       1       1       1
21       1       1       1
22       1       1       1
23       1       1       1
24       1       1       1
25       1       1       1
26       1       1       1
27       1       1       1
28       1       1       1
29       1       1       1
30       1       1       1
31       1       1       1
32       1       1       1
33       1       1       1
34       1       1       1
35       1       1       1
36       1       1       1
37       1       1       1
38       1       1       1
39       1       1       1
40       1       1       1